<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @food.type %>
</p>

<p>
  <b>Name:</b>
  <%= @food.name %>
</p>

<p>
  <b>Describe:</b>
  <%= @food.describe %>
</p>

<p>
  <b>Price:</b>
  <%= @food.price %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
